@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
}

:root {
  --heading-font: 'Balsamiq Sans', sans-serif;
  --body-font: 'Roboto', sans-serif;
  --pri-color: #292c4a;
  --font-sec-color: #222;
}

.app {
  background-image: url("https://i.ibb.co/FXhNrhY/Dark-Blue-and-Colorful-Confetti-Fun-Shareable-Zoom-Background-1.png");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 130px;
}